/* css for header tag */
/* .sitesiteWrapContainer{
    margin: auto;
} */

*{
    margin: 0;
    padding: 0;
}
* {
  box-sizing: border-box;
  }
  body{
    margin: 0px;
    }
.header_div{
    display: flex;
    justify-content: space-between;
    width: 1170px;
    padding: 0 16px;  
    
}

.logo_image_div{
    margin-left: 100px;
    margin-top: 20px;
    
}

.ul_links{   
        display: flex;
        gap: 30px;
        padding: 5px;
        width: 450px;
        list-style-type: none;
        margin-right: 20px;
        margin-top: 17px;
}

a{
    font-size: larger;
    text-decoration: none;
    color: rgb(2, 2, 44);
}

.nav_btn{
    padding: 10px 25px;
    text-decoration: none;
    margin: auto;
    color:  #1565d8;
}
.nav_btn_div{
    display: flex;
    justify-content: center;
    border-style:solid;
    margin-top: 10px;
    height: 45px;
    border: 2px solid  #1565d8;
    border-radius: 10px;
}
.header_content_div{   
    display: flex;
    justify-content: space-between;
    padding: auto;
    
}

/* css for intro section */
.intro{
    
    width: 1270px;
    padding: 0;
    margin: 0;
}

.master_intro_div{
    
    display: flex;
}

.intro_content_data{
    margin-left: 120px;
    margin-top: 20px;
}

.intro_service_div{
    display: grid;
    grid-template-columns: auto auto ;
    background-color: white;
    width: 500px;
    height: 150px;
    margin-top: 40px;
}

.h1_content{
    font-size: 3.3rem;
    color: rgb(66, 66, 68);
    
}
.intro_content{
    font-size: 1.2rem;
    color: rgb(63, 63, 65);
    width: 460px;
    margin-top: 40px;
}
.intro_service_content{
    color: rgb(2, 2, 44);
}
.intro_service_content_1{
    color: rgb(123, 123, 129);
}
.service-list{
    display: flex;      
    font-size: 15px;
    margin-left: -5px;
}

.intro_icons{
    margin-top: 0;
    
}

.get_consult_btn_div{
    display: flex;
    justify-content: center;
    margin-top: 3px;
    height: 55px;
    width: 250px;
    border-radius: 10px;
    background-color: #1565d8;
    margin-top: 20px;
}

.get_consult_btn{
    padding: 10px 25px;
    text-decoration: none;
    margin: auto;
    color: white
}

.intro_service_text{
    margin-left: 10px;
}

/* css for service container */
.service{
  margin-top: 5%;
}

.service_container{
    
    margin: 0 auto;
    width: 1170px;
    padding: 0 16px;
    
}

.card {
    border: 1px solid rgb(224, 224, 224);
    border-radius: 5%;
  }
  .cards{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 16px;
  }
  .card_col{
    width: 32.888%; 
    padding: 0 27.45px;   
  }
  
  .card_container{
    margin-top: 25px;
  }

  .service_content1{
   
    margin: auto;
    margin-top: 30px;   
    width: 150px;
    font-size: larger;
    color: rgb(23, 177, 23);
    font-weight: 4rem;
  }
  .service_content2{
    justify-content: center;
    margin: auto;
    margin-top: 30px;
    width: 500px;
    font-size: 1.5rem;
    color: rgb(66, 66, 68);
    font-weight: 4rem;
  }

  .service_check_content{
    display: flex;
    gap: 5%;
    margin: auto;
    margin-top: 30px;
    width: 780px;
    color: rgb(24, 24, 49);
  }

  .service_content3{
    margin: auto;
    margin-top: 30px;
    width: 600px;
    font-size: 1.2rem;
    color: rgb(66, 66, 68);
    font-weight: 4rem;
  }
  
  .service4{
 
    margin: auto;
    width: 50%;
  }
  

  .card_img_border{
    border: 1px solid rgb(224, 224, 224);
    width: 60px;
    display: flex;
    justify-content: center;
    border-radius: 25px;
    margin-top: 15px;
    margin-left: 30px;
  }

  .card_title{
    font-size: 1.4rem;
    color: rgb(66, 66, 68);
    margin-left: 4%;
  }

  .card_p_content{
    color: rgb(66, 66, 68);
    font-size: 1.4rem;
    width: 90%;
    margin-top: 10%;
    margin-left: 4%;
    margin-bottom: 10%;
  }

  .learn_more{
    color: #1565d8;
    font-size: 1.3rem;
    margin-left: 4%;    
  }


  /* css for single customer */

  .single_customer{
    background-color:pink;
    border-radius: 0 0 20% 20% ;
    margin-top: 5%;
  }

  .sing_cust_container{
    width:1170px;
    margin: 0 auto;
    padding: 0 16px;
  }

  .single_customer_card{
    display: flex;
    flex-wrap: wrap;
    width: 32.888%; 
    /* padding: 0 33.45px;   */
    margin: 0 46px;
    
  }

  .single_card{
    background-color: white;
    color: black;
    margin-top: 40px;
    border-radius: 5%;
  }

  .single_card_img_border{
    margin-top: 7%;
    margin-left: 5%;
  }

  .single_customer_card_content{
    margin-top: 7%;
    margin-left: 5% ;
  }



  .single_card_p_content{
    font-size: 1.9rem;
  }

.single_customer_name{
  margin-top: 4%;
}

.verified{
  color: rgb(158, 156, 156); 
}

/* css for benifit section */
.benifits{
  margin-top: 10%;
}
.benifits_container{
    width: 1170px;
    margin: 0 auto; 
    padding: 0 16px;
}

.benifits_div{
    display: grid;
    grid-template-columns: auto auto auto;
    margin: 0 20px;
    padding: 0 20px;
}


.ben_p_1{
  color: rgb(23, 177, 23);
}

.ben_icon_2_div{
  margin-top: 2%;
}
.ben_p_div_2{
  margin-top: 2%;
}

.ben_p_div_2_data{
  margin-top: 2px;
  color: rgb(66, 66, 68);
}

.ben_p_div{
  margin-top:4%; 
}

.ben_h2_div{
  margin-top:4%;
  font-size: 1.5rem;
}

.ben_icon_div{
  margin-top: 3%;
}

.benifits_sub_1_div{
  margin-top: 50px;
    
}
.benifits_sub_div{
  margin-top: 50px;
  
}
.ben_p_div_data{
  width: 300px;
  margin-top: 2%;
  color: rgb(66, 66, 68);
}

/* css for protection section */

.protection{
  margin-top:10%;
}

.proc_container{
  width: 1170px;
  margin: 0 auto;  
  padding: 0 16px;
  
}
.proc_content1{
  margin:  0 auto;
  font-size: larger;
  width: 180px;
}

.proc_content2{
  margin-top: 2%;
}

.proc2{
  margin: 0 auto;
  width: 400px;
  font-size: 2rem;
  color: rgb(66, 66, 68);
}

.proc_content3{
  margin-top: 2%;
}

.proc3{
  margin: 0 auto;
  width: 373px;
  font-size: 1rem;
  color: rgb(66, 66, 68);
}

.proc1{
  color: rgb(23, 177, 23);
}

.proc_image1_div{
  background: url("./Images/Image2.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 48%;
  margin-right: 20px;
}

.proc_text_div{
  margin-top: 90%;
  padding-bottom: 50px;
  padding-left: 40px;
  padding-right:20px ;
}
.proc_text{
  font-size: 2rem;

  color: white;
}

.proc_image2_div{
  background: url("./Images/Image3.png");
  background-repeat: no-repeat;
  border-radius: 10px;
  width: 48%;
  margin-left: 10px;
}

.proc_image_container{
  display: flex;
  flex-wrap: wrap;
  margin: 0 -16px;
  padding-left: 55.999px;
  padding-right: 35.888px;
  margin-top: 3%;
}

/* css for testimonials */
.testimonial{
  margin-top: 10%;
}

.test_container{
  width: 1170px;
  margin: 0 auto;
  padding: 0 16px;
}

.test_div{
  margin: auto;
  width: 120px;
}

.test{
  color: rgb(23, 177, 23); 
}

.test_div_p{
  margin-top: 2%;

}

.test_p{
  margin: 0 auto;
  width: 450px;
  font-size: 2rem;
  color: rgb(66, 66, 68);
}


.test_cards{
    display: flex;
    flex-wrap: wrap;
    margin: 15px 16px; 
}

.test_card_col{
    width: 32.888%; 
    padding: 0 27.45px;   
}

.test_card{
  border: 1px solid black;
}

.test_card_img_border{ 
  width: 120px;
  margin-top: 15px;
  margin-left: 16px;
}

.test_customer_card{
  display: flex;
  background-color: #1565d8;
}